@font-face {
  font-family: "Signika";
  src:
    url("./Signika-Bold.woff2") format("woff2"),
    url("./Signika-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signika";
  src:
    url("./Signika-Regular.woff2") format("woff2"),
    url("./Signika-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signika";
  src:
    url("./Signika-SemiBold.woff2") format("woff2"),
    url("./Signika-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1440,20,1.333,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -1: 14.1667px → 15.0038px */
  --step--1: clamp(0.8854rem, 0.8705rem + 0.0747vw, 0.9377rem);
  /* Step 0: 17px → 20px */
  --step-0: clamp(1.0625rem, 1.0089rem + 0.2679vw, 1.25rem);
  /* Step 1: 20.4px → 26.66px */
  --step-1: clamp(1.275rem, 1.1632rem + 0.5589vw, 1.6663rem);
  /* Step 2: 24.48px → 35.5378px */
  --step-2: clamp(1.53rem, 1.3325rem + 0.9873vw, 2.2211rem);
  /* Step 3: 29.376px → 47.3719px */
  --step-3: clamp(1.836rem, 1.5146rem + 1.6068vw, 2.9607rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,17,1.2,1440,20,1.333,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2321rem + 0.0893vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5446rem + 0.0893vw, 0.625rem);
  --space-xs: clamp(0.8125rem, 0.7768rem + 0.1786vw, 0.9375rem);
  --space-s: clamp(1.0625rem, 1.0089rem + 0.2679vw, 1.25rem);
  --space-m: clamp(1.625rem, 1.5536rem + 0.3571vw, 1.875rem);
  --space-l: clamp(2.125rem, 2.0179rem + 0.5357vw, 2.5rem);
  --space-xl: clamp(3.1875rem, 3.0268rem + 0.8036vw, 3.75rem);
  --space-2xl: clamp(4.25rem, 4.0357rem + 1.0714vw, 5rem);
  --space-3xl: clamp(6.375rem, 6.0536rem + 1.6071vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1429rem + 0.5357vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4554rem + 0.5357vw, 0.9375rem);
  --space-xs-s: clamp(0.8125rem, 0.6875rem + 0.625vw, 1.25rem);
  --space-s-m: clamp(1.0625rem, 0.8304rem + 1.1607vw, 1.875rem);
  --space-m-l: clamp(1.625rem, 1.375rem + 1.25vw, 2.5rem);
  --space-l-xl: clamp(2.125rem, 1.6607rem + 2.3214vw, 3.75rem);
  --space-xl-2xl: clamp(3.1875rem, 2.6696rem + 2.5893vw, 5rem);
  --space-2xl-3xl: clamp(4.25rem, 3.3214rem + 4.6429vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.0625rem, 0.6518rem + 2.0536vw, 2.5rem);
  --space-s-2xl: clamp(1.0625rem, -0.0625rem + 5.625vw, 5rem);
  --space-s-3xl: clamp(1.0625rem, -0.7768rem + 9.1964vw, 7.5rem);
}

body {
  background-color: lavender;
  width: clamp(16rem, calc(100vw - (2 * var(--space-s-3xl))), 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  font-family: "Signika", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--step-3);
  line-height: 1.5;
  max-width: 20ch;
}

h2 {
  font-size: var(--step-2);
  line-height: 1.5;
  max-width: 30ch;
}

h3 {
  font-size: var(--step-1);
  line-height: 1.3;
  max-width: 50ch;
}

p {
  font-size: var(--step-0);
  line-height: 1.3;
  max-width: 80ch;
}

.caption {
  font-size: var(--step--1);
  line-height: 1.2;
  max-width: 90ch;
}

#input-list {
  display: flex;
  gap: var(--space-s-l);
}
